.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  margin-top: 60px;
  margin-left: 300px;
  padding: 30px 20px;

  p:nth-of-type(1) {
    font-size: 46px;
    border-bottom: 2px solid #079a80;
  }

  p:nth-of-type(2) {
    font-size: 24px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .home-page {
    margin-left: 0;
  }
}
