.product-list {
  margin-top: 80px;

  .title {
    display: flex;
    gap: 20px;

    p {
      font-size: 30px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .list {
      padding: 18px 0;
      justify-content: center;
      gap: 18px;
    }
  }
}
