.cart-list-item {
  display: flex;
  position: relative;
  width: 100%;
  height: 46px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #111113;
    transition: background-color 0.2s;

    &:hover {
      background-color: #27272c;
    }
  }

  .active {
    background-color: #27272c;
  }

  p {
    font-size: 18px;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 46px;
    border-left: 2px solid red;
    transition: background-color 0.2s;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background-color: rgb(255, 0, 0);
    }

    svg {
      color: #fff;
      width: 22px;
      height: 22px;
    }
  }
}

// .delete{
//   &::after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 40px;
//     height: 100%;
//     border-left: 2px solid orange;
//     background-color: #fff;
//   }
// }
