.header-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid #079a80;
  border-radius: 8px;
  height: 46px;
  width: 80%;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(7, 154, 128);
  }

  span {
    font-size: 18px;
  }
}
