header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0d0d0e;
  padding: 0 20px;
  box-shadow: 0 0 6px 0 #000;
  z-index: 2;

  button {
    display: none;
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    font-size: 30px;
    a {
      text-decoration: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 32px;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  header {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10px;

    button {
      display: block;
      position: absolute;
      left: 20px;
    }
  }
}
