* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101017;
}

p,
h1,
a,
button,
span {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.App {
  .loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
