.chart {
  display: flex;
  justify-content: center;
  height: calc(60%);

  canvas {
    max-width: 1280px;
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .chart {
    height: 420px;

    canvas {
      min-height: 200px;
    }
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .chart {
    height: 420px;

    canvas {
      min-height: 320px;
    }
  }
}
